@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>Privacy Notice(Not finished/ why is this page admin only?) </h2>
<p>
    The following information explains the Internet privacy policy and practices the University has
    adopted for its official Web sites. However, in legal terms, it shall not be construed as a
    contractual promise, and the University reserves the right to amend it at any timewithout
    notice. Privacy and public records obligations of the University are governed by applicable
    Tennessee statutes and U.S. federal laws.
    The Web Privacy Statement speaks generally to the information collected by or submitted to
    official ETSU Web sites. Still the amount and type of information collected may vary somewhat
    from site to site. Therefore, in addition to this general explanation of policy and practice,the
    University encourages colleges, schools, departments, divisions and other units contributing to
    its official Web pages to post, as necessary, more specific approved privacy noticespertaining
    to the collection and use of any personal information associated exclusively with those pages.
    Thus it is wise for users to read page-specific notices to better understand the privacypolicies
    and practices applicable to a particularsite.
</p>
