@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>Providing information is your choice</h2>
<p>
    There is no legal requirement for you to provide any
    information at our Web site. However, our Web site will not work without routing information
    and the essential technical information. Failure of your browser to provide nonessential
    technical information will not prevent your use of our Web site but may prevent certain
    features from working. For any optional information that is requested at the Web site, failure
    to provide the requested information will mean that the particular feature or serviceassociated
    with that part of the Web page may not be available to you.
</p>
<h2>What information is covered by this notice?</h2>
<p>
    This notice applies to non-public personal
    information we collect about individuals who obtain products or services from us. We call this
    information "Customer Information".
</p>
<h2>Do we share customer information with outside companies?</h2>
<p>
    We do not share Customer
    Information with outside companies to use for their own marketing purposes. Outside
    companies that help us provide services you request (such as clearing house ortransaction
    hosting) may receive Customer Information to help us provide these services. They are
    obligated to keep Customer Information confidential. We will share Customer Informationwith
    others when it is required or permitted by law, such as credit bureaus, or to comply with
    subpoenas and summonses.

</p>
<h2>How do we protect customer information?</h2>
<p>
    Our employees have limited access to Customer
    Information. They have access only when the information is used to facilitate business
    purposes. We maintain physical, electronic and procedural safeguards that comply with
    applicable laws and regulations to protect Customer Information.
</p>
<h2>What if your information is not correct?</h2>
<p>
    We have procedures in place to maintain accurate
    Customer Information. These procedures include responding to requests to correctinaccurate
    Customer Information. If you believe our customer records contain incorrect information
    about you, call or write to us at webmaster@etsu.edu.
</p>
<h2>What if you suspect identity theft?</h2>
<p>
    If you are concerned that someone hasunauthorized
    access to your personal information, please call us immediately at webmaster@etsu.edu
    so we can take steps to assist you.
</p>
